.sai{
border: 3px solid black;
height: 600px;
width: 250px;
background-color:fuchsia;
padding: 10px;
border-radius: 30px;
box-shadow: 5px 5px 5px black;

}

.tarun{
    border: 2px solid black;
    /* width: px;
    height: 200px; */
    margin:  50px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: gray;
}
#trns1:checked ~ .tarun{
    transform: translate(none);
}


#trns2:checked ~ .tarun{
    transform: rotateY(45deg);
}

    
#trns3:checked ~ .tarun{
    transform:rotateX(75deg) ;
}
#trns4:checked ~ .tarun{
    transform:rotateZ(100deg) ;
}
#trns5:checked ~ .tarun{
    transform: rotate3d(1,2,5,200deg);
}
#trns6:checked ~ .tarun{
    transform: rotate(80deg);
}
 #trns7:checked ~ .tarun{
    transform: skewX(65deg);
 } 
 #trns8:checked ~ .tarun{
transform: skewY(55deg);
 } 
 #trns9:checked ~ .tarun{
    transform: rotate(90deg);
 }  
 #trns10:checked ~ .tarun{
    transform: skew(20deg, 20deg);
 }  
 #trns11:checked ~ .tarun{
    transform: translate(60px);
}
